@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply container mx-auto px-3 md:px-0;
  }
  .text-gradient-purple {
    @apply bg-gradient-to-r from-purple-1  to-purple-2 inline-block text-transparent bg-clip-text;
  }
  .text-gradient-yellow {
    @apply bg-gradient-to-r from-yellow-1  to-yellow-2 inline-block text-transparent bg-clip-text;
  }
  .hero-section-title {
    @apply bg-gradient-to-l text-transparent dark:text-transparent bg-clip-text animate-text-gradient font-bold dark:bg-zinc-50 bg-[length:300%] rounded-xl from-zinc-600 via-zinc-100 to-zinc-700 text-5xl md:text-6xl lg:text-8xl uppercase text-pretty md:text-start text-center z-10;
  }
  .rounded-custom {
    @apply rounded-2xl md:rounded-[1.5rem] lg:rounded-[2rem] xl:rounded-[2.5rem];
  }
  .py-custom {
    @apply py-10 md:py-20;
  }
  .pb-custom {
    @apply pb-10 md:pb-16;
  }
  .pt-custom {
    @apply pt-10 md:pt-16;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --dark: #02021e;
    --dark-1: #02021e;
    --dark-2: #150e59;
    --blue-1: #3827c7;
    --dark-blue-1: #2c277d;
    --dark-blue-2: #534cb2;
  }
}

::-webkit-scrollbar {
  width: 0.0000000000000001px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue-2);
}

.mask {
  position: absolute;
  mask-image: url("/mask.svg");
  background: white;
  mask-repeat: no-repeat;
  mask-size: 50px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
}

/* * {
  outline: 1px solid red;
} */

.inverted-radius-right {
  --r: 100px; /* The main border radius */
  --s: 100px; /* Size of the inner cut-out curve */
  --x: 300px; /* Horizontal offset for positioning the cut-out */
  --y: 0px; /* Vertical offset for positioning the cut-out */

  /* Applies the normal border radius */
  /* border-radius: var(--r);  */
  /* border-top-right-radius: var(--r); */

  /* Creates a circular mask effect for the inner cut-out */
  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);

  /* Defines a conic gradient that helps create the cut-out effect */
  --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);

  /* Calculates the total size of the cut-out effect */
  --_d: (var(--s) + var(--r));

  /* Applies multiple masks to achieve the inverted radius effect */
  mask: calc(100% - var(--_d) - var(--x)) 0 var(--_m),
    /* Top right corner cut */ 100% calc(var(--_d) + var(--y)) var(--_m),
    /* Bottom right corner cut */ radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
    /* Right side inner curve */ var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
    /* Upper part */ var(--_g) 0 calc(var(--_d) + var(--y)); /* Lower part */

  mask-repeat: no-repeat; /* Prevents repeating patterns */
}
