@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #f7f7f7;
  --nextui-foreground: #fff;
  --nextui-default-foreground: #fff; */
}

.fade-in-left {
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-hover-animation {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  transform: translate(0);
}

.text-overflow {
  position: relative;
  overflow: hidden;
}
.text-hover {
  position: absolute;
  inset: 0%;
  transform: translateY(150%);
}
